body{
    background-color: rgb(52, 52, 54);
}
.fotos{
    width: 100%;
}
.fotos img{
    vertical-align: top;
    opacity: 0.5;
    width: 400px;
    margin: 20px;
    padding: 5px;
    border: 1px solid red;
}
.fotos img:hover{
border:1px solid yellow ;
opacity: 1;
}
